.table {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  min-width: 300px;
  border-collapse: collapse;
}

.table td {
  border: 1px solid lightgray;
}

.live {
  background-color: black;
}

.dead {
  background-color: antiquewhite;
}
